    <!-- Bouton Don Sticky -->
    <a href="/don" class="sticky-don-btn" aria-label="Faire un don">
        <i class="fas fa-heart"></i>
        <span>Faire un don</span>
    </a>
    
    <!-- Bouton retour en haut -->
    <button id="scrollToTop" class="scroll-to-top" aria-label="Retour en haut">
        <i class="fas fa-arrow-up"></i>
    </button>
    
    <!-- JavaScript -->
    <script src="/js/modal.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/mawaqit.js"></script>
</body>
</html>
